// .home {
//     background: color($colors, primary);
//     color: color($colors, light);
//     margin-top: 30px;
// }

// .toolbar-title {
//     text-align: center;
// }

// .tabs-md .tab-button-icon {
//     color: #ccc;
// }

.temp {
    font-size: 36px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.location, .icon, .description {
    text-align: center;
}